.search-input {
  background-color: black;
  border: 0;
  border-bottom: 2px solid #e50914;
  padding: 18px 20px;
  width: 100%;

}

.search-call-to-action {
  text-transform: uppercase;
  color: white;
}

.search-results{
  float: right;
}

.search-button{
  float: right;
  width: 200px;
  margin-top: 10px;
}